body {
  background-color: black;
}

#blue-car {
  background-color: blue;
  width: 100px;
  height: 50px;
  margin-top: 200px;
  margin-bottom: 25px;
}

#red-car {
  background-color: red;
  width: 100px;
  height: 50px;
  margin-top: 25px;
}
.white-stripe {
  height: 35px;
  width: 40px;
  background-color: white;
  position: fixed;
  left: 1200px;
}

#top-stripe {
  top: 175px;
}

#middle-stripe {
  top: 250px;
}

#bottom-stripe {
  top: 325px;
}
