body {
  background-color: green;
}
header {
  text-align: center;
  font-family: 'Bungee', cursive;
}

#blue-car {
  background-color: blue;
  width: 100px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 25px;
}

#red-car {
  background-color: red;
  width: 100px;
  height: 50px;
  margin-top: 25px;
}

.road {
  background-color: gray;
  height: 200px;
  width: 1275px;
  position: fixed;
  top: 165px;
  z-index: -1;
}
.finish-line {
  font-family: 'Bungee', cursive;
  background-color: white;
  font-size: 28px;
  width: 40px;
  height: 200px;
  position: fixed;
  left: 1200px;
  padding-left: 8px;
}
/*.white-stripe {
  height: 35px;
  width: 40px;
  background-color: white;
  position: fixed;
  left: 1200px;
}

#top-stripe {
  top: 175px;
}

#middle-stripe {
  top: 250px;
}

#bottom-stripe {
  top: 325px;
}*/
